/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/*Lesley Burr's Website Styling*/

body {
	background:#ffffff;
	padding: 0px 0px 0px 0px;
}

/* Header Styling */

header {
	border-bottom: 1px solid black;
}

.triangle{
	width: auto;
	height: 0px;
	border-style: solid;
	border-width: 0 150px 160px 150px;
	border-color: transparent transparent #f7efbe transparent;
	background-image: url(flowersbw.jpg);
}

h1 {
	color: #000000;
	font-family: 'Oswald', 'futura', helvetica, arial, sans-serif;
	font-size: 120px;
	letter-spacing: -15px;
	margin: auto;
	padding: 10px 0 10px 0; 
	position: center;
	text-align: center;
	text-transform: uppercase;
	width: auto; 
}

/* Navigation Styling */

#main-menu {
	background-image: url(flowersbw.jpg);
	margin-bottom: 0px;
	margin-top: 0px;
}

#main-menu ul {
	list-style-type: none;
	margin: 0 0 0px 0;
	padding: 20px;
	text-align: center;
	word-spacing: 80px;
}

#main-menu ul li {
	display: inline;
	font-family: 'Josefin Sans', 'futura', helvetica, arial, sans-serif;
	font-size: 20px;
	font-weight: 900;
	text-align: center;
}

a {
	text-decoration: none;
	color: #881a37;
}

.fancylink {
	color: black;
}

.fancylink:hover {
	background-color: white;
	color: black;
	font-family: 'Monoton', cursive;
	font-size: 18px;
}

.currentpage {
	color: #881a37;
}

a h1:hover {
	letter-spacing: 5px;
}

a:hover {
	background-color: black;
	color: white;
}

/* Headline Styling */

h2 {
	font-family: 'Josefin Sans', 'futura', helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 30px 0 0px 0;
}

/* Subheading Styling */

h3 {
	color: #000000;
	font-family: 'Josefin Sans', 'futura', helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding: 20px 0px 5px 0px;
}

/* General */

section {
	background: #ffffff;
}

p {
	color: #000000;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 5px 0px 5px 0px;
}
ul {
	list-style-type: none;
	padding-left: 30px;
}
li {
	color: #000000;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	line-height: 20px;
}

em {
	font-style: italic;
}

/* Home Page About Me Summary Text Styling */

#headline {
	font-family: 'Josefin Sans', 'futura', helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2px;
	margin: 20px 20px 0px 20px;
	padding: 20px 0 0 0;
	text-align: center; 
	text-transform: uppercase;
	width: auto;
	word-spacing: 20px;
}

.container {
	background: #ffffff;
	float:left;
	margin: 20px 20px 20px 70px;
	padding: 0px; 
	width: 553px;
}

.self-summary {
	background: #ffffff;
	font-family: helvetica, arial, sans-serif;
	font-size: 18px; 
	font-weight: 100;
	line-height: 30px; 
}

#photograph {
	float: left;
	margin: 5px 40px 20px 10px;
	width: 350px;
}

/* Photo Styling */

img {
	margin: 20px 20px 0px 20px;
}

#photograph {
	float: left;
}

/* Footer Styling */

footer {
	background-color: black;
	clear: both;
	display: block;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	width: auto;
}

.social-media {
	border: none;
	display: inline-block;
	margin: 0px; 
	padding: 5px; 
}

/* About Page Styling*/

.group {
	float:left;
	margin: 10px;
	padding: 10px;
	width: 306px;
}

.button {
	background-color: #f7efbe;
	border: 2px solid #cccccc;
	border-radius: 20px;
	box-shadow: 2px 2px 2px #888;
	clear:both;
	font-family: 'Josefin Sans', 'futura', helvetica, arial, sans-serif;
	font-size: 20px;
	font-weight: 900;
	margin: 0 auto;
	padding: 10px 25px;
	text-align: center;
	width: 300px;
}

.button:hover {
	background-image: url(flowersbw.jpg);
	border: 2px solid #f7efbe;
	border-radius: 20px;
	clear: both;
	margin: 0 auto;
	padding: 10px 25px;
	text-align: center;
	width: 300px;
}

.buttonlink {
	color: black;
	margin: 10px;
	text-decoration: none;
}

.buttonlink:hover {
	background-color: white;
	color: black;
}

/* Blog Styling */

.blog-post {
	float: left;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 700px;
}

.date {
	float: left;
	margin: 1px;
	text-align: right;
	width: 30px;
}

.preview {
	float: left;
	margin: 1px;
	width: 610px;
}

article {
	border: 1px solid black;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.content {
	clear: both;
}

.sidebar {
	border: 1px solid black;
	float: left;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 30px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	text-align: center;
	width: 200px;
}

.sidebar ul {
	list-style-type: none;
}

.blogbutton {
	clear:both;
	padding: 0px;
}

#readmore {
	background-color: #f7efbe;
	border: 2px solid #cccccc;
	border-radius: 20px;
	box-shadow: 1px 1px 2px #888;
	clear: both;
	padding: 3px 3px;
	width: 100px;
}

#readmore p {
	font-family: 'Josefin Sans', 'futura', helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: 900;
}

#readmore:hover {
	background-image: url(flowersbw.jpg);
	border: 2px solid #f7efbe;
	border-radius: 20px;
	clear: both;
	margin: 0 auto;
	padding: 3px 3px;
	text-align: center;
	width: 100px;
}

.blogbuttonlink {
	text-decoration: none;
}

.blogbuttonlink:hover {
	background-color: white;
}

/* Contact Page Styling*/

.contact h2 {
	padding-top: 30px;
}

.contact {
	float: right;
	margin: 20px;
	padding: 30px;
	text-align: right; 
	width: 553px;
}

/* Experiments*/

.finish {
	background: #D2B48C;
	font-family: 'Wire One', sans-serif;
	font-size: 50px;
	font-weight: 900;
	letter-spacing: 5px;
	line-height: 35px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	text-shadow: 2px 2px #ffffff;
	text-transform: uppercase;
	width: 200px;
}

#experiments {
	background: #ffffff;
	border: 5px solid white;
	margin: 0 auto;
	padding: 20px;
	width: 250px;
}

#spacecontainer {
	clear: both;
	margin: 0 auto;
	padding: 20px 90px;
	width: auto;
}

#outerspace {
  	background: url('homeboys-in-outer-space.png') no-repeat 380px 18px, 
    			url('unicorn.png') no-repeat 0 50%, 
    			url('bear.png') no-repeat 480px 75%,
    			url('outer-space-vol1.png') no-repeat 0 0;
  	height: 700px;
  	width: auto;
}

.experimentscopy {
	text-align: center;
}