/* *******************
*
* Table of Contents
*
* 1) Reset
* 2) Clearfix
* 3) Base Styles (body, links, fonts, etc.)
* 4) Modules (footer, nav, header, etc.)
* 5) Page Elements (main column, side bar, etc.)
* 6) Section Specific Overrides (contact page/form, etc.)
*
******************* */



/* *******************
*
* Color Guide
* Dark Taupe: #64524f
* Taupe: #9f8b83
* Light Taupe: #c2aea1
* Lightest Taupe: #d3c5bb
* Dark Orange: #f44f2f
* Orange: #ffac78
* Peach: #ffca95
* Nude: #fdd6b5
*
******************* */



/* *******************
*
* 1) Reset
*
******************* */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* *******************
*
* 2) Clearfix
*
******************* */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}





/* *******************
*
* 3) Base Styles
*
******************* */

header {
	background-color: #f44f2f;
	font-family: 'Signika', sans-serif;
	height: 100px;
	width: 100%;
}

h1 {
	color: #d3c5bb;
	font-family: 'Signika', sans-serif;
	font-size: 90px;
	font-weight: 700;
	position: absolute;
	left: 100px;
	top: 26px;
}

body {
	background-color: #d3c5bb;
}

p {
	color: #64524f;
	font-family: 'Signika', sans-serif;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 25px;
	margin-top: 20px;
}

.burr {
	background-color: #d3c5bb;
}

.rotate {
	color: #f44f2f;
	font-family: 'Signika', sans-serif;
	font-size: 220px;
	font-weight: 700;
	position: absolute;
	left: -250px;
	text-transform: uppercase;
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		 -o-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	top: 240px;
}

section {
	margin-left: 200px;
	margin-top: 50px;
}

h3 {
	color: #f44f2f;
	font-family: 'Signika', sans-serif;
	font-size: 30px;
	font-weight: 600;
}

em {
	font-style: italic;
}

img {
	border: 10px solid #f44f2f;
	border-radius: 10px;
	float: left;
	margin-bottom: 10px;
	margin-right: 75px;
	padding: 3px 35px;
}


/* Footer Styling, needs work, added image sprite */

footer {
	background-color: black;
	clear: both;
	display: block;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	width: auto;
}

.footericons {
	display: inline-block;
	list-style-type: none;
	margin: 0 auto;
	text-align: center;
}

.social-media {
	border: none;
	display: inline-block;
	margin: 0 auto;
}

#email {
	position: relative;
}

#linkedin {
	position: relative;
}

#twitter {
	position: relative;
}

#git {
	position: relative;
}


/* Contact Page Styling*/

.contact h2 {
	padding-top: 30px;
}

.contact {
	float: right;
	margin: 20px;
	padding: 30px;
	text-align: right; 
	width: 553px;
}

.contactform {
	border: 1px solid black;
	float: left;
	margin:60px 30px;
	padding: 20px;
	text-align: left;
	width: 300px;
}

label {
	color: #881a37;
	display: block;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	margin-top: 20px;
}